streamlit>=1.41.0

crewai==1.6.1

langchain==1.2.10
langchain-openai==1.1.9
langchain-community==0.4.1

openai==1.109.1
tiktoken==0.8.0

faiss-cpu==1.13.2

python-dotenv==1.2.1
pypdf==6.7.0
